<h2>Edit {{foundRoutine.name}} routine:</h2>

<form action="/routine/{{foundRoutine.id}}/edit" method="POST">

<label> Name:
    <input type="text" name="name" value="{{foundRoutine.name}}">
</label>

<br>

<label> Type of Training:
    <select name="typeOfTraining">
        <option selected value="{{foundRoutine.typeOfTraining}}">{{foundRoutine.typeOfTraining}}</option>  
        <option  value="{{filteredValues.[0]}}">{{filteredValues.[0]}}</option>  
        <option  value="{{filteredValues.[1]}}">{{filteredValues.[1]}}</option>  
        <option  value="{{filteredValues.[2]}}">{{filteredValues.[2]}}</option>  
    </select>   
</label>

<br>

<label> Exercises:
    <select name="exercises" multiple>
        {{#each allExercises}}
        {{#if isInRoutine}}
            <option selected value="{{id}}">{{exerciseName}}</option>
            {{else}}
             <option value="{{id}}">{{exerciseName}}</option>
        {{/if}}
        {{/each}}
    </select>
</label>

<br>

<label> Intensity:
<select name="intensity">

        <option selected value="{{foundRoutine.intensity}}">{{foundRoutine.intensity}}</option>  
        <option  value="{{filteredIntensityValues.[0]}}">{{filteredIntensityValues.[0]}}</option>  
        <option  value="{{filteredIntensityValues.[1]}}">{{filteredIntensityValues.[1]}}</option>  
      


</select>   


</label>

<br>

<label> Amount Of Weights:
    <input type="number" name="amountOfWeight" placeholder="lbs" min='1' value="{{foundRoutine.amountOfWeight}}"> lbs
</label>

<br>

<label> Number Of Sets:
    <input type="number" name="numberOfSets" min='1' value="{{foundRoutine.numberOfSets}}">
</label>

<br>

<label> Number Of Reps:
    <input type="number" name="numberOfReps" min='1' value="{{foundRoutine.numberOfReps}}">
</label>

<br>

<label> Additional Equipment:
    <input type="text" name="additionalEquipment" value="{{foundRoutine.additionalEquipment}}">
</label>

<br>

<label> Time In Between Sets:
    <input type="number" name="timeInBetweenSets" min='0' placeholder="sec" value="{{foundRoutine.timeInBetweenSets}}"> sec
</label>

<br>

<button type='submit'>Save</button>

</form>
