<h2>You have created {{allRoutinesFromDB.length}} routines:</h2>

<div>

<ul>
    {{#each allRoutinesFromDB}}
    <h3>Name:</h3>
    <p><a href="/routine/{{id}}">{{name}}</a> </p>

    <p>TYPE OF TRAINING: {{typeOfTraining}}</p>

    <form action="/routine/{{id}}/delete" method="POST">
   <button type="submit">DELETE</button>
   </form>

    <a href="/routine/{{id}}/edit">Edit </a>
    {{/each}}
</ul>

</div>

<a href="/routine/new">Create new Routine</a>


