{{!-- <h2>Details of {{routineDetails.name}}</h2>

<div>

    <ul>
        <li>Type of training: {{typeOfTraining}}</li>
        <li>
            <ol>Cast:
             {{#each foundExercise.exercises}}
                <li>{{exerciseName}}</li>
                <li>{{targetedBodyPart}}</li>
             {{/each}}
             </ol>
        </li>
        <li>Intensity:  {{intensity}}</li>
        <li>Amount of weight:{{amountOfWeight}}</li>
        <li>Number of sets: {{numberOfSets}}</li>
        <li>Number of reps:{{numberOfReps}}</li>
        <li>Aditional equipment: {{additionalEquipment}}</li>
        <li>Time in between sets: {{timeInBetweenSets}}</li>
        <li>CREATED: {{created}}</li>
    </ul>

<form action="/routine/{{routineDetails.id}}/delete" method="POST">
   <button type="submit">DELETE</button>
</form>

</div> --}}

