<h2>Edit: {{foundExercise.exerciseName}} </h2>

<form action="/exercise/{{foundExercise.id}}/edit" method="POST">

<label>name
  <input type="text" name="exerciseName" placeholder="exercise name" value='{{foundExercise.exerciseName}}'> 
  </label> 
  <br>
  <label>Targeted Body Part
<input type="text" name="targetedBodyPart" placeholder="targeted body part"value='{{foundExercise.targetedBodyPart}}'> 
  </label>
  <br>
  <label> How to do it
  <input type= 'textarea' name="howToDoIt" placeholder="how to do it" cols='20' rows='10'value='{{foundExercise.howToDoIt}}'>
  </label>
  <br>
  <button type="submit">Save Updated Exercise</button>

</form>
