<h2>You have {{allExercises.length}} exercises in your database:</h2>


<ul>
  {{#each allExercises}}
    <li>{{ exerciseName }}</li>
    <a href="/exercise/{{id}}">Details</a>
      <form action="/exercise/{{_id}}/delete" method="POST">
        <button>Delete</button>
    <a href="/exercise/{{id}}/edit">Edit </a> 
  {{/each}}
</ul>