
<section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex row align-items-center justify-content-center about-img">
            <img src="{{recipe.image}}" class="img-fluid" alt="{{recipe.title}}" data-aos="zoom-in">

          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">{{recipe.title}}</h3>
            <p data-aos="fade-up" data-aos-delay="100">
            {{{recipe.summary}}}
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>Ingredients </h4>
                <p>Full list of ingredients for {{recipe.servings}}-people-serving-size, you can find <a href="/recipes/{{recipe.id}}/ingredients">here</a>.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Instructions</h4>
                <p>This recipe is done in {{recipe.readyInMinutes}} minutes. If you are interested in making this recipe, click <a href="/recipes/{{recipe.id}}/instructions">here</a> .</p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>







{{!-- <h2>{{recipe.title}}</h2>

<img src="{{recipe.image}}" alt="{{recipe.title}}">


<h3>SUMMARY:</h3>
 <p>{{{recipe.summary}}}</p>


{{# if recipe.instructions}}
<h3>INSTRUCTIONS: </h3>
<p>{{{recipe.instructions}}}</p>
{{/if}}


<p>Weight Watcher Smart Points: {{recipe.weightWatcherSmartPoints}}</p>


{{#if recipe.cuisines}}
<p>CUISINE: {{recipe.cuisines}}  </p>
{{/if}}

<h3>INGREDIENTS:</h3>
<ul> 
{{#each recipe.extendedIngredients}}
<li>{{name}}</li>
<p>- amount:{{original}}</p>
{{/each}}
</ul>

<button><a href="/nutrition">Back to search</a></button> --}}
