<section id="portfolio" class="portfolio new-container">
      <div class="container">

 {{#if carbs.results}}

        <div class="section-title" data-aos="fade-up">
          <h2>Your search results by carbs</h2>
          <p>{{carbs.results.length}} recipes, from lowest to highest carb amount:</p>
        </div>

        {{!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> --}}

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

{{#each carbs.results}}

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{{image}}" class="img-fluid" alt="{{title}}">
              <div class="portfolio-links">
                <a href="{{image}}" class="venobox" title="{{title}}"><i class="icofont-plus-circle"></i></a>
                <a href="/recipes/{{id}}" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>{{title}}</h4>
              </div>
            </div>
          </div>
 
 
{{/each}}


{{/if}}


{{#if proteins.results}}

        <div class="section-title" data-aos="fade-up">
          <h2>Your search results by protein</h2>
          <p>{{protein.results.length}} recipes, from lowest to higest protein amount:</p>
        </div>

        {{!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> --}}

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

{{#each proteins.results}}

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{{image}}" class="img-fluid" alt="{{title}}">
              <div class="portfolio-links">
                <a href="{{image}}" class="venobox" title="{{title}}"><i class="icofont-plus-circle"></i></a>
                <a href="/recipes/{{id}}" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>{{title}}</h4>
              </div>
            </div>
          </div>
 
 
{{/each}}


{{/if}}

{{#if calory.results}}

        <div class="section-title" data-aos="fade-up">
          <h2>Your search results by calories</h2>
          <p>{{calory.results.length}} recipes, from lowest to highest calorie amount:</p>
        </div>

        {{!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> --}}

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

{{#each calory.results}}

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{{image}}" class="img-fluid" alt="{{title}}">
              <div class="portfolio-links">
                <a href="{{image}}" class="venobox" title="{{title}}"><i class="icofont-plus-circle"></i></a>
                <a href="/recipes/{{id}}" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>{{title}}</h4>
              </div>
            </div>
          </div>
 
 
{{/each}}


{{/if}}

{{#if multiNutrients.results}}

        <div class="section-title" data-aos="fade-up">
          <h2>Your search results by nutrients</h2>
          <p>{{multiNutrients.results.length}} recipes:</p>
        </div>

        {{!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> --}}

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

{{#each multiNutrients.results}}

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{{image}}" class="img-fluid" alt="{{title}}">
              <div class="portfolio-links">
                <a href="{{image}}" class="venobox" title="{{title}}"><i class="icofont-plus-circle"></i></a>
                <a href="/recipes/{{id}}" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>{{title}}</h4>
              </div>
            </div>
          </div>
 
 
{{/each}}


{{/if}}


{{#if caloriesAndFood.results}}

        <div class="section-title" data-aos="fade-up">
          <h2>Your search results by nutrients</h2>
          <p>{{caloriesAndFood.results.length}} recipes:</p>
        </div>

        {{!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> --}}

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

{{#each caloriesAndFood.results}}

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{{image}}" class="img-fluid" alt="{{title}}">
              <div class="portfolio-links">
                <a href="{{image}}" class="venobox" title="{{title}}"><i class="icofont-plus-circle"></i></a>
                <a href="/recipes/{{id}}" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>{{title}}</h4>
              </div>
            </div>
          </div>
 
 
{{/each}}


{{/if}}

{{#if ingredients}}

        <div class="section-title" data-aos="fade-up">
          <h2>Your search results by nutrients</h2>
          <p>{{ingredients.length}} recipes:</p>
        </div>

        {{!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> --}}

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

{{#each ingredients}}

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{{image}}" class="" alt="{{title}}">
              <div class="portfolio-links">
                <a href="{{image}}" class="" title="{{title}}"><i class="icofont-plus-circle"></i></a>
                <a href="/recipes/{{id}}" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>{{title}}</h4>
              </div>
            </div>
          </div>
 
 
{{/each}}


{{/if}}
      </div>
    </section>



