  <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Welcome to</h2>
          <p>Nutrition</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">

             
            <div class="info">

           {{#each recipe.recipes}} 
                       
              <div class="address">
                <i class="icofont-spoon-and-fork"></i>
                <h4><a href="/recepies/{{id}}">{{title}}</a></h4>
                <p>Diets: {{diets}}</p>
              </div>


              <div class="phone">
                <i class="icofont-binoculars"></i>
                <h4>Weight WatcherSmartPoints:</h4>
                <p>{{weightWatcherSmartPoints}}</p>
              </div>

              <img src="{{image}}" alt="{{title}}" frameborder="0" style="border:0; width: 100%; height: 290px;">
            </div>
{{/each}}
          </div>

 <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div role="form" class="php-email-form">

              <form action="/carbs-search" method="get">
                <label>Find recepies by nutrients</label>
      
                  <div class="searchBar">
                    <input type="number" name='minCarbs' placeholder="min carbs" min="1" class="form-control" > 
                    <input type="number" name='maxCarbs' placeholder="max carbs" min="1" class="form-control" > 
                    <input id='howManuRecepies' type="number" name='numOfRecepies' placeholder="How many recepies" min="1" class="form-control" > 
                    <input type="reset" value="reset">
                    <button class="text-center">Search by carbs</button>
                  </div>
              </form>

               <form action="/protein-search" method="get">
               
                <div class="searchBar">
                  <input type="number" name='minProtein' placeholder="min protein" min="1" class="form-control" >
                  <input type="number" name='maxProtein' placeholder="max protein" min="1" class="form-control" >
                  <input id='howManuRecepies' type="number" name='numOfRecepies' placeholder="How many recepies" min="1" class="form-control" > 
                  <input type="reset" value="reset">
                  <button class="text-center">Search by protein</button>
                </div> 
              </form>
               
              <form action="/calories-search" method="get">
               
                <div class="searchBar">
                <input type="number" name='minCalories' placeholder="min calories" min="1" class="form-control" >
                <input type="number" name='maxCalories' placeholder="max calories" min="1" class="form-control" >
                <input type="number" name='numOfRecepies' placeholder="How many recepies" min="1" id='howManuRecepies' class="form-control">
                <input type="reset" value="reset">
                <button class="text-center">Search by calories</button>
                </div>
                </form>
                  
                <form action="/multi-search" method="get">
                  <label>Combine all nutrients</label>
                  <div class="searchBar" id='multiSearch'>
                    <input type="number" name='maxCalories' placeholder="max calories" min="1" class="form-control" >
                    <input type="number" name='maxProtein' placeholder="max protein" min="1" class="form-control" >
                    <input type="number" name='maxCarbs' placeholder="max carbs" min="1" class="form-control" >
                    <input type="number" name='numOfRecepies' placeholder="How many recepies" min="1" class="form-control" id='howManuRecepies'>
               
                    <input type="reset" value="reset">
                    <button class="text-center">Search nutrients</button>
                  </div>
                  </form>
             
                  
                  <form action="/foodcalorie-search" method="get">
                    <label>Find recepies by food</label>
                      <div class="searchBar">
                        <input type="text" name='foodName' placeholder="eg. burger" class="form-control" >
                        <input type="number" name='calories' placeholder="max calories" min="1" class="form-control">
                        <input type="number" name='numOfRecepies' placeholder="How many recepies" min="1" class="form-control" id='howManuRecepies'>
                        <input type="reset" value="reset">
                        <button class="text-center">Search by food & calores</button>
                      </div>
                      </form>
                    <div>

                      <form action="/ingredients-search" method="get">
                        <label>Find recepies by ingredients</label>
                          <div class="searchBar" id='findByIngredients'>
                            <input type="text" name='ingredients' placeholder="eg. apples,flour" class="form-control" >
                            <input type="number" name='numOfRecepies' placeholder="How many recepies" min="1" class="form-control" id='howManuRecepies'>
                            <input type="reset" value="reset">
                            <button class="text-center">Search by ingredients</button>
                          </div>
                          </form>
                        <div>
                    
                      <span style="font-size:0.8em">Use only ,(comma) for search by more ingredients</span>
          </div>

        </div>




        </div>

      </div>
    </section>




{{!-- <section>
<h4>FIND BY NUTRIENTS:</h4>
<div>
<form action="/carbs-search" method="get">
<input type="number" name='minCarbs' placeholder="min carbs" min="1">
<input type="number" name='maxCarbs' placeholder="max carbs" min="1">
<input type="number" name='numOfRecepies' placeholder="How many recepies" min="1">
<button>Search by carbs</button>
<input type="reset" value="reset">
</form>
</div>

<div>
<form action="/protein-search" method="get">
<input type="number" name='minProtein' placeholder="min protein" min="1">
<input type="number" name='maxProtein' placeholder="max protein" min="1">
<input type="number" name='numOfRecepies' placeholder="How many recepies" min="1">
<button>Search by protein</button>
<input type="reset" value="reset">
</form>
</div>

<div>
<form action="/calories-search" method="get">
<input type="number" name='minCalories' placeholder="min calories" min="1">
<input type="number" name='maxCalories' placeholder="max calories" min="1">
<input type="number" name='numOfRecepies' placeholder="How many recepies" min="1">
<button>Search by calories</button>
<input type="reset" value="reset">
</form>
</div>

<div>
<form action="/multi-search" method="get">
<input type="number" name='maxCalories' placeholder="max calories" min="1">
<input type="number" name='maxProtein' placeholder="max protein" min="1">
<input type="number" name='maxCarbs' placeholder="max carbs" min="1">
<input type="number" name='numOfRecepies' placeholder="How many recepies" min="1">
<button>Search by all nutrients</button>
<input type="reset" value="reset">
</form>
</div>




</section>

<br>


<section>
<h4>FIND RECEPIES BY FOOD:</h4>
<div>
<form action="/foodname-search" method="get">
<input type="text" name='foodName' placeholder="eg. burger">
<input type="number" name='numOfRecepies' placeholder="How many recepies" min="1">
<button>Search by food</button>
<input type="reset" value="reset">
</form>
</div>

<h4>FIND RECEPIES BY FOOD & CALORIE RANGE:</h4>
<div>
<form action="/foodcalorie-search" method="get">
<input type="text" name='foodName' placeholder="eg. burger">
<input type="number" name='calories' placeholder="max calories" min="1">
<input type="number" name='numOfRecepies' placeholder="How many recepies" min="1">
<button>Search by food & calores</button>
<input type="reset" value="reset">
</form>
</div>





</section>




<br>
<section>

<h4>FIND BY INGREDIENTS:</h4>
<div>
<form action="/ingredients-search" method="get">
<input type="text" name='ingredients' placeholder="eg. apples,flour" min="1">
<input type="number" name='numOfRecepies' placeholder="How many recepies" min="1">
<button>Search by ingredients</button>
<input type="reset" value="reset">
<span style="font-size:0.8em">Use ,(comma) for search with more ingredients</span>
</form>
</div>
</section>

 --}} 
